html, body {
    height: 100%;
    margin: 0;
  }

  body {
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: center;

  }

  canvas {
    border: 1px solid green;
  }

  .box {
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }