html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  h1 {
    font-size: 50px;
    color: #2c2e7d;
    
  }
  div {
    /* border: 1px solid black; */
    width: 320px;
    height: 320px;
    /* background-color: gray; */
  }

  .box {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid white;
    /* background-image: url(./pixel.jpeg) ; */
  }


  #modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    display: none;
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  }
  
  #modal-textbox {
    background-color: white;
    height: 350px;
    width: 750px;
    border-radius: 2px;
    margin: 150px auto;
    /*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    /*This will give the box some depth.*/
    padding: 2%;
    line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
      /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  }
  
  #modal-footer {
    text-align: right;
    /* border: 1px solid black; */
    width: 100px;
    height: 20px;
    /* background-color: gray; */

  }
  

  .modal-buttons {
    padding: 14px 18px;
    background-color: #677996;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
    
  }