html, body {
    height: 100%;
    margin: 0;
  }

  body {
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: center;

  }

  div {
    border: 1px solid black;
    width: 320px;
    height: 343px;
    background-color: gray;
  }

  .box {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid white;
  }